section{
  padding: 0 100px;
}
.img-div{
  width: 100%;
}
.img-div img{
  width: 100%;
  margin-top: 10px;
}
.arrow{
  width: 20px;
  display: inline;
  position: relative;
  top: 5px;
}
.single-content{
  padding: 10px 5px;
}
.link-name{
  display: inline;
  cursor: pointer;
}
.link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.swiper-button-next {
  background-image: url('images/arrow-right-circle.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-prev {
  background-image: url('images/arrow-left-circle.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-next::after, .swiper-button-prev::after{
  display: none;
}
select{
  padding: 5px 10px;
    box-shadow: 5px 5px 2px #eeeeee;
    max-width: 400px;
    min-width: 100px;
    border-radius: 10px;
    margin-right: 2rem;
    margin-left: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
}

@media only screen and (max-width: 640px){
    section{
      padding: 0 60px;
    }
}
.single-content p{
  margin: 5px 0;
}
